<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIconFile</key>
  <string>icon.icns</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>desktop-pet 需要麦克风权限以进行语音输入。</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>desktop-pet 需要语音识别权限以将语音转为文本。</string>
</dict>
</plist>
